@using System.Collections
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Facebook Athorized";
}

@{
    var translations = ((Dictionary<string, string>)(ViewData["results"]));
}

@foreach (var item in translations)
{
    <div>@item.Key --- @item.Value</div>
}

<div>
    @ViewData["data"]
</div>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
