
<head> 
 <!-- All the files that are required -->
<link rel="stylesheet" href="~/css/round-about.css">
</head>

<!-- Page Content -->
    <div class="container">

      <!-- Introduction Row -->
      <h1 class="my-4">About Us
        <small>It's Nice to Meet You!</small>
      </h1>
      <p>We are the greatest team of the USA in the rapgame. We can generate a high level of cringiness... Join us in our trip!</p>

      <!-- Team Members Row -->
      <div class="row">
        <div class="col-lg-12">
          <h2 class="my-4">Our Team</h2>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="~/images/matteo.jpg" alt="">
          <h3>Matteo Margueritte
            <small>Human reddit Scraper</small>
          </h3>
          <p>I'm so cuix! </p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="~/images/dodo_box.jpeg" alt="">
          <h3>Dorian Voravong
            <small>Supreme leader</small>
          </h3>
          <p>Supreme leader of everything.</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="~/images/sebastien.le-guischer.jpeg" alt="">
          <h3>Sebastien Le Guischer
            <small>API Master programmer</small>
          </h3>
          <p>I'm the master of API's</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="~/images/quentin.jpg" alt="">
          <h3>Quentin Fournier Montgieux
            <small>Security Login</small>
          </h3>
          <p>I love wheels. It's kind of a passion in my life!</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="~/images/bibs.jpg" alt="">
          <h3>Sebastien Vidal
            <small>Schlinks Maker</small>
          </h3>
          <p>My schlinks are the bests you've ever seen. Don't try to do better than I do.
              PS: that reminds me Vietnam.
          </p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="~/images/lead_rap_jeu.jpg" alt="">
          <h3>Benjamin Girard
            <small>Lead Rap jeu</small>
          </h3>
          <p>You don't know - PS: No ketchup, just sauce</p>
        </div>
      </div>

    </div>
    <!-- /.container -->