@{
    ViewData["Title"] = "Contact";
}
<center><h2>@ViewData["Title"]</h2></center>
<h3>@ViewData["Message"]</h3>

<center>
<address>
    Kremlin Bicetre AKA KB<br />
    24 rue pasteur<br />
    <abbr title="Phone">P:</abbr>
    +33 6 00 00 00 00
</address>

<address>
    <strong>Support:</strong> <a href="mailto:schlinks@AreaSolid.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@AreaSolid.com">Marketing@example.com</a>
</address>
</center>