@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

<div class="section"/>
<h3 class="center-align orange-text text-darken-1">
    AREA - Presentation
</h3>
<div class="container">
    <div class="row">
        <div class="col s4">
            <div class="card z-depth-2 grey lighten-4 medium">
                <br/>
                <h5 class="center-align orange-text text-darken-1">
                    Modules
                </h5>
                <p class="center-align">
                    We have a couple of modules integrating different API
                    like Facebook, Twitter or LinkedIn.
                </p>
            </div>
        </div>
        <div class="col s4">
            <div class="card z-depth-2 grey lighten-4 medium">
                <br/>
                <h5 class="center-align orange-text text-darken-1">
                    Action/Reaction
                </h5>
                <p class="center-align">
                    Our modules have several actions and reactions that you can
                    activate. For example an action : post something on Facebook
                    reaction : tweet the link of your Facebook post.
                </p>
            </div>
        </div>
        <div class="col s4">
            <div class="card z-depth-2 grey lighten-4 medium">
                <br/>
                <h5 class="center-align orange-text text-darken-1">
                    How to
                </h5>
                <p class="center-align">
                    You can see the list of modules in the "DashBoard" page.
                    For a module to be available for you, you have to
                    login to your respective account on the "User" page.
                    For example to use the Twitter/Facebook module you
                    first have to login on Twitter and Facebook.
                </p>
            </div>
        </div>
    </div>
</div>
<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>