<h1>@ViewData["Message"]</h1><br>

<form id="creation" action="SpotifyTwitterAreaCreation">
    Select your action: <br>
    GetMusic   <input type="radio" name="action_index" value="0"/><br>
    <br>
    Select your reaction: <br>
    Tweet   <input type="radio" name="reaction_index" value="0"/><br>
    <input type="submit" value="Create AREA"/>
</form>