<h1>@ViewData["Message"]</h1><br>

<form id="creation" action="FacebookTwitterAreaCreation">
    Select your action: <br>
    GetEmail   <input type="radio" name="action_index" value="0"/><br>
    GetAgeRange   <input type="radio" name="action_index" value="1"/><br>
    GetCoverUrl   <input type="radio" name="action_index" value="2"/><br>
    GetFirstName   <input type="radio" name="action_index" value="3"/><br>
    GetLastName   <input type="radio" name="action_index" value="4"/><br>
    GetFullName   <input type="radio" name="action_index" value="5"/><br>
    GetGender   <input type="radio" name="action_index" value="6"/><br>
    GetLocale   <input type="radio" name="action_index" value="7"/><br>
    GetPictureUrl   <input type="radio" name="action_index" value="8"/><br>
    GetUserLastPost   <input type="radio" name="action_index" value="9"/><br>
    <br>
    Select your reaction: <br>
    Tweet   <input type="radio" name="reaction_index" value="0"/><br>
    <input type="submit" value="Create AREA"/>
</form>