<h1>@ViewData["Message"]</h1><br>

<form id="creation" action="GithubFacebookAreaCreation">
    Select your action: <br>
    Followers   <input type="radio" name="action_index" value="0"/><br>
    Following   <input type="radio" name="action_index" value="1"/><br>
    Login   <input type="radio" name="action_index" value="2"/><br>
    Location   <input type="radio" name="action_index" value="3"/><br>
    Private Repositories   <input type="radio" name="action_index" value="4"/><br>
    Public Repositories   <input type="radio" name="action_index" value="5"/><br>
    Company   <input type="radio" name="action_index" value="6"/><br>
    Name   <input type="radio" name="action_index" value="7"/><br>
    Bio   <input type="radio" name="action_index" value="8"/><br>
    <br>
    Select your reaction: <br>
    Post On Facebook   <input type="radio" name="reaction_index" value="0"/><br>
    <input type="submit" value="Create AREA"/>
</form>